.custom-btn{
    background: #69AFC5;
    width: 100%;
    border-color: transparent;
    padding: 15px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    display: inline-block;
    line-height: 23px;
    color: #fff;
    border: 1px transparent;
}